.search-container {
	margin-top: 4rem;
	background-color: $light-grey;
	border: 1px $grey-border solid;
	hr {
		background-color: white;
		height: 3px;
		margin: 0 4rem 1.5rem;
	}
}

@media (max-width: 60em) {
	.search-container {
		margin-top: 1rem;
		hr {
			margin: -0.5rem 1rem 1rem;
		}
	}
}

.content-container {
	margin-top: 2rem;
}

.post {
	margin-bottom: 1rem;
	border-top: 1px $light-blue solid;
	background-color: $light-grey;
	padding: 1rem;
}

.error {
	color: $grey;
	border: 1px solid rgb(255,204,51);
  	background-color: rgb(255,244,194);
  	text-align: center;
  	margin: 0.1rem 5rem 0;
}

@media (max-width: 60em) {
	.error {
		margin: 0.1rem 3rem 0;
	}
}