/***********************************************
*                   COLOURS
************************************************/

$blue: #005689;
$dark-blue: #00507f;
$light-blue: #197CAA;

$orange: #e6711b;

$charcoal: #333333;
$grey: #484848;
$light-grey: #f6f6f6;

$grey-border: #DAD7D7;